# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider specific files
.idea/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp
